/* overrides for the ribbon style */
.slide {
  background-image: url(/Users/kearneymw/Dropbox/uslidelogos/bl.jpg),
                    url(/Users/kearneymw/Dropbox/uslidelogos/br.jpg);
  background-repeat: no-repeat;
  background-position: bottom left, bottom right;
  background-size: auto 50px, auto 50px;
}
.level2:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: .05;
  background-size: 55% auto;
  background-image: url(/Users/kearneymw/Dropbox/uslidelogos/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
}

.shower {
  font-family: 'Roboto Condensed', 'Helvetica Neue', 'Roboto', sans-serif;
  font-size: 22px;
  color: #24292E;
  font-weight: 400;
}

.slide .shout {
  font-size: 110px;
}

.slide code,.slide kbd,.slide samp {
  line-height: 1.1;
  font-family: Inconsolata, monospace;
}

.slide {
  padding: 53px 100px 0;
  font-weight: 400;
}

.slide ul li {
  padding-bottom: 10px;
  line-height: 1.75;
}

.slide ol li::before, .slide ul li::before, .slide ul > li::before {
  color: #000;
}

.slide h2 {
  color: #000;
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 43px;
}

.slide pre code {
  display: block;
  line-height: 1.2;
  background: #eee;
  color: #333;
  margin: 1px 1px;
  font-size: 80%;
  width: calc(75% + 100px + 100px);
  padding: 1px 0 1px 30px;
}

/* Code input, we need to undo unwanted changes here */

.slide pre.sourceCode code {
  background: #f3f3f3;
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 0 0;
}

